<div class="row">
  <div class="col-md-3">
      <div class="form-group">
        <label>Messages</label>
        <textarea class="form-control message" rows="3"></textarea>
      </div>
      <button type="button" class="send btn btn-primary">Submit</button>
  </div>
  <div class="col-md-6">
    <div id="message">
      <%= render partial: 'home/message', collection: @messages %>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
      $('.send').click(function(){
          var msg = $('.message').val();
          App.room.speak(msg);
      })
  })
</script>